@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  color: #FFFFFF;
  font-family: Roboto, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0px;
  overflow: scroll;
}

  .menubar {
    display:flex;
    flex:1;
    justify-content: center;
    background: #1F2937;
 
  }
 
  .menuitems {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    text-shadow: 2px 2px 4px #000000;
    align-items: center;
    width:960px; 

    
  }

  .menuitems a {
    text-decoration: none;
  }
  
  .menubar .menuitems ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
  }

  .hero {
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    padding: 25px;
    
  }

  .hero-left {
    display:flex;
    flex-direction: column;
    width:435px;
  }
  .hero-right {
    display:flex;
  }
  .hero-main {
    font-size:48px;
    font-weight:bolder;
    text-shadow: 2px 2px 4px #000000;
  }
  .hero-secondary {
    font-size:18px;
    color: #E5E7EB;
    font-weight:lighter;
  }

  .button a{
    background-color: #3882F6;
    border-radius: 10px;
    padding:10px 20px 10px 20px;
    font-size:18px;
    font-weight:normal;
    text-decoration: none;
    box-shadow: 2px 2px 4px #000000;
    text-shadow: 2px 2px 4px #000000;
  }

  .information {
   display:flex;
   flex:1;
   flex-direction: column;
   background: #FFFFFF;
  }

  .information-header {
    font-size:36px;
    font-weight:bolder;
    color: #1F2937;
    text-align: center;
    padding:40px;
  }

  .information-content {
    flex-direction: row;
    display:flex;
    gap:16px;
    justify-content:center;
    align-items: center;
    padding-bottom:50px;
  }
  .info-box {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    width:150px;
  }

  .info-box-image img {
    border: 2px solid #3882F6;
    border-radius: 10px;
   }

  .info-box-caption {
    font-size:16px;
    font-weight:lighter;
    color: #1F2937;
    text-align: center;
    
  }

  .header {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #1F2937;
    font-size:48px;
    color: #F9FAF8;
    Font-weight: bold;
    
  }

  .footerblock {
    padding:25px;
    display:flex;
    background-color:#1F2937;
    align-items: center;
    color:white;
    justify-content: center;
    
  }
  



  .header-logo {
    font-size: 24px;
    color: #F9FAF8;
    
  }

  .footer {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    background: #eee;
    color:#1F2937;
    font-size: 16px;
  }

  .quoteblock {
    display:flex;
    flex:1;
    flex-direction: column;
    background: #E5E7EB;
    align-items: center;
  }
  .quote
  {
    display: flex;
    align-items: center;
    font-size:36px;
    color:#1F2937;
    font-weight:lighter;
    font-style:italic;
    padding:50px 50PX 0px 50px;
    width:960px;
    
    
  }

  .quoted {
    display:flex;
    width:960px;
    font-size:18px;
    color:#1F2937;
    justify-content: right;
    padding: 0px 50px 50px 50px;
    font-weight:bolder;

  }

.calltoactionblock {
    display:flex;
    flex:1;
    padding:50px 0px 50px 0px;
    justify-content: center;

}

.calltoaction {
  width:960px;
  border-radius: 10px;
  padding:50px 0px; 50px;
  background: #3882F6;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0px 4px 2px -2px gray;
}

.call-left {
  display:flex;
  flex:1;
  flex-direction: column;
  padding:0px 50px 0px 50px;
}

.call-left h2 {
  margin:0px;
  padding:0px;
  text-shadow: 2px 2px 4px #000000;
}

.call-left p {margin:0px;padding:0px;font-weight:lighter;}
.call-right {
  display:flex;
  width:150px;
  padding:0px;
  align-items: center;
}